<script>
  $(document).ready(function() {
    $("#clear-confirmation-modal [name=button-confirm]").click(function() {
      window.location.replace("/contacts/clear");
    });
  });
</script>

<div id="clear-confirmation-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>All contact data will be deleted.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" name="button-confirm">I'm sure</button>
        <button class="btn btn-info" type="button" data-dismiss="modal" name="button-cancel">Nevermind</button>
      </div>
    </div>
  </div>
</div>
