@using AddressBook.Models.ContactData;
@model Contact

<div class="contact-details">
  <h3>Name</h3>
  <p>@Model.GetName().GetFull()</p>
  <h3>Phone Number</h3>
  <p>@Model.GetPhoneNumber().GetAsString()</p>
  <h3>Address</h3>
  <p>@Model.GetAddress().GetStreetAddress()</p>
  <p>@Model.GetAddress().GetFullCityAddress()</p>
</div>
