@using AddressBook.Models.PageData;
@model IndexModel

@if (@Model.ContactAdded == true)
{
  <div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> New contact was added!
  </div>
}

@if (@Model.ContactsCleared == true)
{
  <div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    All contacts removed successfully.
  </div>
}
