<div class="contact-list">
  <h2>Contacts:</h2>
  <div class="list-group">
    @foreach (var contact in Model["contacts"])
    {
      <a href="/contacts/@contact.GetId()" class="list-group-item">@contact.GetName()</a>
    }
  </div>
</div>
