@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Address Book</h1>
  </div>
  @Html.Partial("ContactList")
  @Html.Partial("NewContactForm")
  @if (Model["focused-contact"] != null)
  {
    @Html.Partial("ContactDetails")
  }
</div>
