@using AddressBook.Models;
@model Dictionary<string, object>

@{
  List<Contact> contacts = (List<Contact>)Model["contacts"];
  Contact focusedContact = (Contact)Model["focused-contact"];
}

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Address Book</h1>
  </div>
  @Html.Partial("Index/ContactList", contacts)

  @if(contacts.Count > 0)
  {
    <button class="btn btn-danger" type="button" name="clear-button" data-toggle="modal" data-target="#clear-confirmation-modal">Clear All</button>
  }

  @Html.Partial("Index/NewContactForm")
  @if (focusedContact != null)
  {
    @Html.Partial("Index/ContactDetails", focusedContact)
  }
</div>

@Html.Partial("Modals/ClearConfirmationModal")
