<script>
  $(document).ready(function() {
    var submitConfirmed = false;
    $("#new-contact-modal form").submit(function(event) {
      if (submitConfirmed === false) {
        event.preventDefault();
        submitConfirmed = true;
        $("#new-contact-modal").modal("hide");
      }
    });
    $("#new-contact-modal").on("hidden.bs.modal", function() {
      if (submitConfirmed === true) {
        $("#new-contact-modal form").submit();
      }
    });
  });
</script>

<div id="new-contact-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Add a new contact</h3>
      </div>
      <div class="modal-body">
        @Html.Partial("NewContactForm")
      </div>
    </div>
  </div>
</div>
